body{
    background: url('../img/tile.jpg');
}

.header {
  padding: 2rem 4rem 1rem; }
    .header img{
        display:block;
        margin:0 auto 1em;
    }


.container{
    width:100%;
    min-width:560px;
    max-width:960px;
    padding: 0 10px 2em;
    margin:0 auto;
}
    .main-content{
        background: url('../img/bg-photo.JPG') no-repeat top center;
        background-size: cover;
        width:100%;
        border:5px solid #fff;
    }

.social-menu li{
    display:inline-block;
    margin-bottom:3em;
}
    .social-menu li a{
        color:#000;
        font-size:1.25em;
        text-transform:uppercase;
        background:#fff;
        font-size: 3em;
        border-radius:15px;
        margin-left:10px;
    }
    .social-menu li a:hover{
        color:#e35964;
    }

