body
{
	margin:0;
}

.container
{
	width:100%;
	margin:0 auto;
}


/*			*/
/* HEADER	*/
/*			*/

header
{
	position:relative;
	min-width:600px;
	padding:20px;
	margin:0;
	background:#fff;
}
header nav ul
{
	float:right;
	list-style:none;
	margin:0;
	padding:0;
}
header nav ul li
{
	display:inline-block;
	padding:0 10px;
}
header nav ul li a
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:700;
	color:#000;
	text-decoration:none;
}
header nav ul li a:hover,
header nav ul li a.active
{
	color:#ff0025; 
}

header .band_name
{
	position:absolute;
	top:-95px;
	left:20px;
	width:53%;
	max-width:500px;
	z-index:100;
}


/*		*/
/* MAIN */
/*		*/


main
{
	margin:0;
	min-width:600px;
	padding:100px 20px 20px;
	background: url('../img/tile-yellow.jpg') center;
	background-attachment:fixed;
}
main .container
{
	max-width:1400px;
}

main .main_content
{
	background:#fff;
	padding:80px 0;
}

main h1
{	
	font-family: 'Open Sans Condensed', sans-serif;
	line-height:0;
	font-size:20vw;
	vertical-align:top;
	width:100%;	
	min-width:600px;
	text-align:center;
	color:#fff; 
	margin:150px 0 50px;
}


main p
{
	margin:0;
	padding-right:20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	font-size:16px;	
}


/*			*/
/* FOOTER	*/
/*			*/
footer
{
	min-width:600px;
	padding:20px;
	margin:0;
	background:#fff;
	text-align:center;
}
footer .social_wrap a
{
	text-decoration:none;
	margin:10px;
}
footer .social_wrap a img
{
	width:40px;
}


/*			*/
/* SPLASH	*/
/*			*/

#splash
{
	background-image: url('../img/tile-yellow.jpg');
	text-align:center;
}
#splash .main_img
{
	display:block;
	margin:0 auto;
	width:70%;
	min-width:500px;
	max-width:800px;
}
#splash .bc_player
{
	display:block;
	margin:0 auto;
}
#splash .enter_site
{
	display:inline-block;
	margin:40px 0;
	padding:30px 40px;
	background:#fff;
	color:#000;
	text-align:center;
	font-size:32px;
	font-weight:700;
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration:none;
}
#splash .social_wrap
{
	margin-top:40px;
}
.social_wrap a
{
	text-decoration:none;
	margin:18px;
}
#splash .social_wrap a img
{
	width:56px;
}


/*		*/
/* HOME */
/*		*/
#home_img_wrap
{
	min-width:640px;
	width:100%;
	height:90vh;
	position:relative;
}
	.hi_1
	{
		background:url("../img/home.jpg") center top no-repeat;
		background-size:cover;
		background-attachment:fixed;
		z-index:53;
	}
	.hi_2
	{
		background:url("../img/home_0.jpg") right center no-repeat;
		background-size:cover;
		background-attachment:fixed;
		z-index:52;
	}
	.hi_3
	{
		background:url("../img/home_1.jpg") center center no-repeat;
		background-size:cover;
		background-attachment:fixed;
		z-index:51;
	}
.home_img
{
	min-width:640px;
	width:100%;
	height:90vh;
	position:absolute;
}
#home main
{
	text-align:center;
}
.home_content img
{
	max-width:600px; 
	display:block; 
	margin:0 auto;
}

.home_content
{
	display:inline-block;
	padding:40px;
	background:#fff;
}



.header_top
{
	min-width:640px;
	width:100%;
	height:120px;
	background: url('../img/bg-text-100.jpg') center;
	background-attachment:fixed;
}




/*****GALLERY******/
#gallery
{
	text-align:center;
}

#gallery .wrap
{	
	position:relative;
	float:left;
	width:33.33%;
	margin:0;
}

#gallery .wrap img
{
	position:relative;
	display:block;
	width:100%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#gallery .wrap img:hover
{
	z-index:100;
}

#gallery .wrap.col_1 img:hover
{
	-webkit-transform: scale(1.5) translateX(16.725%);
	-moz-transform: scale(1.5) translateX(16.725%);
	-o-transform: scale(1.5) translateX(16.725%);
	-ms-transform: scale(1.5) translateX(16.725%);
	transform: scale(1.5) translateX(16.725%);
}
#gallery .wrap.col_2 img:hover
{	
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}
#gallery .wrap.col_3 img:hover
{
	-webkit-transform: scale(1.5) translateX(-16.725%);
	-moz-transform: scale(1.5) translateX(-16.725%);
	-o-transform: scale(1.5) translateX(-16.725%);
	-ms-transform: scale(1.5) translateX(-16.725%);
	transform: scale(1.5) translateX(-16.725%);
}



.clearfix
{
	clear:both;
}



/******ABOUT*******/

.video_wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video_wrap iframe,
.video_wrap object,
.video_wrap embed {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

#about .text_wrap
{
	background:#fff;
	padding:40px;
}
#about p
{
	margin:0;
	font-size:32px;
}



/******CONTACT*******/
#contact_wrap
{
		margin:0 auto;
		max-width:1000px;
}
#contact_wrap form
{
	
	padding:0 40px;
}
#contact_wrap label
{	
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:700;
	font-size:16px;
	color:#000;
	text-decoration:none;
	display:block;
}
#contact_wrap input[type=text],
#contact_wrap input[type=email]
{
	display:block;
	width:calc(100% - 20px);
	padding:8px;
	margin-bottom:20px;
	border:2px solid #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
}
#contact_wrap textarea
{
	display:block;
	width:calc(100% - 20px);
	padding:8px;
	margin-bottom:20px;
	border:2px solid #000;
	resize:vertical;
	overflow-y:scroll;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
}
#contact_wrap input[type=submit]
{
	display:block;
	padding:8px 32px;
	border:2px solid #000;
	background:#fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:700;
	font-size:20px;
	cursor:pointer;
}
	#contact_wrap input[type=submit]:hover
	{
		background:#00fffb;
	}


